$background-color: #f8f8ff;

$primary-color: #2466fd;

$primary: #2466fd;

$secondary-color: #8897aa;

$heading-color: #070a57;

$text-color: #434343;

$border-color: #ebebeb;

$white-color: #ffffff;

$bg-secondary: #8897aa;

$bg-white-2: #f7f6f7;

$dark-text: #222222;

$dark-text-2: #343a40;

$green-color: #71c016;

$bg-gray: #eef5f9;

$danger-color: #f1536e;

$info-color: #3da5f4;

$white-color-2: #f1f1f1;

$warning-color: #fda006;

$gray-color: #777;

$blue-color: #2466fd;

$text-gray: #b4b6b8;

$blue-2: #26a69a;

$purple-color: #6610f2;

$bg-dark: #282f3a;

$dark: #000000;

$bg-chok: #462f3f;

$pink-darken-4: #880e4f;

$bg-default: #2466fd;

$text-secondary: #26a69a;

$text-success-color: #5ed84f;

$bg-warning-color: #fdb901;

$red-darken-4: #b71c1c;

$bg-opacity-default-5: rgba(94, 37, 114, 0.50);

$bg-opacity-default-7: rgba(94, 37, 114, 0.70);

$bg-opacity-default-8: rgba(94, 37, 114, 0.80);

$green-opacity-8: rgba(114, 192, 44, 0.8);

$green-opacity-9: rgba(114, 192, 44, 0.9);

$green-opacity-5: rgba(40, 167, 69, 0.5);

$dark-opacity-5: 0px 0px 10px rgba(0, 0, 0, 0.5);

$dark-opacity-95: 0px 0px 10px rgba(0, 0, 0, 0.95);

$white-opacity-2: rgba(255, 255, 255, 0.3);

$white-opacity-5: rgba(255, 255, 255, 0.5);

$white-opacity-7: rgba(255, 255, 255, 0.70);